@font-face {
    font-family: 'Lavan';
    src: url('fonts/Lavanderia Regular.otf');
}
@font-face {
    font-family: 'Alte';
    src: url('fonts/AlteHaasGroteskBold.ttf');
}
@font-face {
    font-family: 'Univ';
    src: url('fonts/Univers-LT-Std-45-Light_46331.ttf');
}
*{
	padding: 0;
	margin: 0;
}
.header{
	width: 100%;
	max-width: 1366px;
	background: url('img.jpeg');
	background-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 500px;
	margin: 0 auto;
}
.nav{
	background: rgba(255,255,255,.5);
	width: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{
	width: 10%;
}
.logo p{
	font-size: 26pt;
	font-family: Lavan;
}
.logo p font{
	color: #ff0066;
}
.nav-items{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav-items a{
	font-family: 'Univ';
	text-decoration: none;
	margin-left: 30px;
	color: #333;
}
.login a{
	padding: 10px 20px;
	border: 1px solid #ff0066;
	border-radius: 25px 5px 25px 5px;
	background: #ff0066;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.login a:hover{
	transition: .6s;
	background: none;
	color: #ff0066;
}
.text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 100px;
}
.text h1{
	color: #fff;
	font-size: 36pt;
	font-family: Alte;
}
.text p{
	color: #fff;
	font-family: 'Univ';
	font-size: 14pt;
}
.socials{
	width: 100%;
	max-width: 1366px;
	border-bottom: 1px solid #777;
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Univ;
	margin: 0 auto;
}
.socials p{
	width: 70%;
	text-align: center;
	margin-top: 10px;
	color: #777;
	font-size: 11pt;
}
.social-items{
	width: 60%;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.social-items span{
	width: 150px;
	height: 130px;
	color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ea9;
	cursor: pointer;
	padding-bottom: 20px;
}
.social-items span:nth-child(1){
	background: #4eb9f4 ;
}
.social-items span:nth-child(2){
	background: #6fc125 ;
}
.social-items span:nth-child(3){
	background: #ff5649 ;
}
.social-items span:nth-child(4){
	background: #e48f23 ;
}
.posts{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1366px;
	margin: 0 auto;
	flex-direction: column;
}
.post-items{
	width: 80%;
	display: flex;
	margin: 20px 0;
}
.post-items img{
	width: 10%;
	border: 1px solid #777;
	padding: 2px;
	border-radius: 5px;
	margin-right: 5px;
}
.post-items .p_title{
	font-family: Univ;
	font-weight: 700;
	font-size: 15pt;
}
.post-items p{
	font-family: Univ;
	font-size: 11pt;
}
.footer{
	width: 100%;
	max-width: 1366px;
	font-family: Univ;
	background-color: #333;
	padding: 15px 0;
	color: #fff;
	text-align: center;
	font-size: 11pt;
}